*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

header{
    background-color:#ff6900;
    width: 100%;
    height: 100px;
    
}

.contenitoreheader{
    position: fixed;
}

